.card {
 margin: 10px;
 border: 0px solid black;
 border-radius: 10px;
 overflow: hidden;
 box-shadow: 0px 6px 18px -9px rgba(0, 0, 0, 0.75);
 transition: transform 100ms ease-in;


}

.card > img {
 object-fit: fill;
 min-width: 300px;
 min-height: 200px;
 width: 100%;
}