.header{
display: flex;
justify-content: space-between;
align-items: center;
position: sticky;
background-color: white;
z-index: 100;
width: 100%;
top: 0;
height: 80px;
}

.header__icon {
 object-fit: contain;
 height: 100px;
 margin-left: 20px;

}

.header__center {
 display: flex;
 flex: 1;
 align-items: center;
 max-width: fit-content;
 padding: 10px;
 height: 25px;
 border: 1px solid lightgray;
 border-radius: 999px;
}

.header__center > input {
 border: none;
 padding: 10px;
 width: 250px;
 outline-width: 0;
 font-size: 14px;
}

.header__center > .MuiSvgIcon-root {
 border: 1px solid ;
 border-radius: 50%;
 background-color: #ff7779;
 color: white;
 padding: 4px;
 margin-right: -3px;
}

.header__right {
 display: flex;
 align-items: center;
 justify-content: space-between;
 width: 15vw;
 margin-right: 80px;
}

.header__right p {
 white-space: nowrap;
 margin-right: 8px;
 font-size: 14px;
}

